@model MVCapp1.Models.Person
@{
    Layout = null;
}
<html>
<head>
 <meta name="viewport" content="width=device-width" />
 <title>Thanks</title>
 <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
 <h1 class="center">hello, @Model.Name</h1>
</body>
</html> 
